/* Tic-Tac-Toe Game -- CSS Style Sheet */

body {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;

}

.header {
    background-color: rgb(102, 175, 243);
    color: white;
    font-size: 32px;
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerData {
    width: 100vw;
    height: 300px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.reset Button {
    margin: 20px;
    width: 100px;
}

.winnerMessage {
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    padding: 20px;
}

.gameGrid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    margin-top: 50px;
    font-size: 34px;
}

.cell {
    border-style: solid;
    border-color: black;
    font-size: 100px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.cell:hover{
    cursor: pointer;
    background-color: lightgrey;
}